* {
  margin: 0;
}

.badge {
  padding: 0.4em 0.7em !important;
  font-weight: 400 !important;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.jumbotronContainer {
  text-align: center;
}

.cardFooterLeft {
  padding: 0 10px !important;
  text-align: center;
}

.cardFooterRight {
  border-left: 1px solid grey;
  padding: 0 10px !important;
  text-align: center;
}

.tooltip {
  white-space: nowrap;
}

.cardBody {
  display: flex;
  flex-wrap: wrap;
}

.cardItem {
  height: 490px;
  z-index: 0;
}

.cardItem:hover {
  transform: scale(1.1);
  z-index: 999;
}

.cardLink {
  color: #000;
  text-decoration: none;
}

.cardLink:hover {
  color: #000;
  text-decoration: none;
}

.sourceLink {
  font-weight: 700;
  color: teal;
}

.searchTitle {
  padding-bottom: 1em;
  font-size: 3em;
}

.recipeDetailsImage {
  width: 360px;
  object-fit: cover;
}

.table-responsive {
  height: 350px;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .cardItem {
    height: 450px;
  }
}
