* {
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.jumbotronContainer {
  text-align: center;
}

.cardFooterLeft {
  padding: 0 10px !important;
  text-align: center;
}

.cardFooterRight {
  border-left: 1px solid grey;
  padding: 0 10px !important;
  text-align: center;
}

.tooltip {
  white-space: nowrap;
}

.cardItem {
  height: 490px;
}

@media screen and (min-width: 768px) {
  .cardItem {
    height: 450px;
  }
}
